@import '../../../consts/_global';

.PicAndNotes{
  display: flex;
  flex-direction: column;
  & > main{
    height: 70%;
    background: no-repeat center center;
    background-size: contain;
  }
  & > footer{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .note{
      z-index: 2;
      margin-top: 5px;
      border: 1px solid white;
      background: black;
      color: white;
      width: 55%;
      border-radius: 5px;
      cursor: default;
      text-align: center;

      &.withTitle:hover{
        cursor: pointer;
        opacity: 0.8;
      }
      @media #{$lg-res}{
        margin-top: 10px;
        font-size: 1.5em;
      }
    }
  }
}

@media #{$sm-res}{
  .PicAndNotes{
    & > main{
      height: 60%;
    }
    & > footer{
      width: 100%;
      height: 40%;
      font-size: 0.7em;

      & .note{
        width: 90%;
      }
    }
  }
}
