@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
  background: url(./misc/images/bgs/view2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  min-height: 100vh;
}

@media screen and (min-width: 751px) {
  .App {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Rubik',sans-serif;

    .col{
      border-right: 0px solid white;
      box-sizing: border-box;
      padding: 20px;
    }
    .col1{
      margin-right: auto;
      width: 6%;
      display: flex;
      justify-content: center;
      align-items: center;
      .YearSlider{
        height: 80vh;
        position: fixed;
      }
    }
    .col2, .col3{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-align: center;
      min-height: 100vh;
      color:white;
      border: 0px solid white;
    }
    .col2{
      width: 54%
    }
    .col3{
      width: 40%;
    }

    .VotesView{
      margin-bottom: 20px;
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 750px) {
  .App{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;

    .col1{
      margin-right: auto;
      width: 20%;
      .YearSlider{
        height: 90vh;
        position: fixed;
        margin-left: 10px;
      }
    }
    .col2, .col3{
      width: 80%;
      margin-left: 20%;
      margin-top: 20px;
    }
  }
}
