.ChartLines{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .Line{
    margin-right: 15px;
    display: flex;
    flex-direction: column-reverse;

    .title{
      font-size: 0.8em;
      color: yellow;
    }
    .Bar{
      width: 30px;
      height: 10px;
      background: #fff;
      margin-top: 5px;
    }
  }
}
